/* BlogPost.css */

body{
  background-color: #181818;
}
.blogpost-section {
    padding: 4rem 2rem;
    background-color: #181818;
    font-family: Arial, sans-serif;
    color: #ffffff;
  }
  
  .blogpost-header {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .blogpost-header h1 {
    font-size: 2.5rem;
    color: rgb(251, 241, 173);
  }
  
  .blogpost-header .blogpost-date {
    font-size: 1rem;
    color: rgb(251, 241, 173);
    margin-top: 0.5rem;
  }
  
  .blogpost-content {
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.8;
  }
  
  .blogpost-content h2 {
    margin-top: 2rem;
    font-size: 1.8rem;
    color: rgb(251, 241, 173);
  }
  
  .blogpost-content p {
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
    color: #ffffff;
  }
  
  .blogpost-content p strong {
    color: #ffffff;
  }
  
  .blogpost-content a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .blogpost-content a:hover {
    color: #0056b3;
  }
  /* Scrollbalken - für Webkit-Browser (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #2d2d2d;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to right, #feb47b, #ff7e5f);
}

  
  /* Responsive Design */
  @media (max-width: 768px) {
    .blogpost-header h1 {
      font-size: 2rem;
    }
  
    .blogpost-content {
      padding: 0 1rem;
    }
  
    .blogpost-content h2 {
      font-size: 1.5rem;
    }
  
    .blogpost-content p {
      font-size: 1rem;
    }
  }
 