.footer {
    position: relative;
    width: 100%;
    height: 100vh; /* Viel White Space */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 900;
  }
  
  /* Video-Hintergrund */
  .footer-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  /* Schwarzer Verlauf von oben nach unten */
  .footer-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: 0;
  }
  
  /* Parallax Cards */
  .footer-content {
    display: flex;
    gap: 20px;
    position: relative;
    z-index: 900;
  }
  
  .footer-card {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    transform: translateY(30px);
    transition: transform 0.3s ease-out;
    width: 15em;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1100;
  }
  
  /* Parallax Effekt */
  .footer-card:hover {
    transform: translateY(0);
  }

  @media screen and (max-width: 800px) {

    .footer-content{
        display: flex;
        flex-direction: column;
    }
  }