/* Karussell-Container */
.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 100px; /* Höhe des Karussells */
    border-radius: 0;
    z-index: 9;
  }
  
  /* Track, der die Items enthält */
  .carousel-track {
    display: flex;
    width: calc(200px * 10); /* Breite = Anzahl der Items × Breite eines Items */
    animation: scroll 40s linear infinite; /* Endlosanimation */
  }
  
  /* Karussell-Items */
  .carousel-item {
    width: 300px; /* Breite jedes Items */
    height: 100px; /* Gleiche Höhe wie der Container */
    background-size: cover; /* Bilder vollflächig einpassen */
    background-position: center;
    flex-shrink: 0;
    padding: 40px;
  }
  
  
  
  
  
  /* Verschiedene Hintergrundbilder */
  .carousel-item.item-1 {
    background-image: url('/assets/ivahv.webP');
    background-size: cover; /* Bilder vollflächig einpassen */
    background-position: center;
  }
  
  .carousel-item.item-2 {
    background-image: url('/assets/ivahv.webP');
    background-size: cover; /* Bilder vollflächig einpassen */
    background-position: center;
  }
  
  .carousel-item.item-3 {
    background-image: url('/assets/ivahv.webP');
    background-size: cover; /* Bilder vollflächig einpassen */
    background-position: center;
  }
  
  .carousel-item.item-4 {
    background-image: url('/assets/ivahv.webP');
    background-size: cover; /* Bilder vollflächig einpassen */
    background-position: center;
  }
  
  .carousel-item.item-5 {
    background-image: url('/assets/ivahv.webP');
    background-size: cover; /* Bilder vollflächig einpassen */
    background-position: center;
  
  }
  
  
  /* Animation für nahtlosen Endlosloop */
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-450px); /* Bewegung um die Breite der 5 Elemente */
    }}